language: java

jdk:
  - oraclejdk8
  
sudo: false

script: mvn clean verify

notifications:
  email:
    on_success: never
    on_failure: change
    
branches:
  only:
    - master
    - dev
    - /^release.*$/
    - /^hotfix.*$/